    <header id="header" style="width: 100%;">
        <h1>PULP FICTION<br><span>Fund the books you want to read.</span></h1>
    </header>

<div id="bookmark">
    <div id="menu">
        <a href="" id="home">Home</a>
        <a href="" id="about">About</a>
        <a href="" id="products">Products</a>
        <a href="" id="contact">Contact</a>
        <a href="" id="profile">Profile</a>
    </div>
</div>



     <div id="content" style="width: 100%;">
         <img src="./tiles.jpg" /><img src="./tiles.jpg" /><img src="./tiles.jpg" /><img src="./tiles.jpg" />

     </div>



     
     <div id="footer"></div>




<script type="text/javascript">
$(window).scroll(function() {

    if ($(window).scrollTop() > 100 ){
        $('.bg').addClass('show');
  } else {
    $('.bg').removeClass('show');
    
    };      
});
$('.scroll').on('click', function(e){       
        e.preventDefault()
  $('html, body').animate({
      scrollTop : $(this.hash).offset().top
    }, 1500);
});
</script>
