<header id="header" style="width: 100%">
        <h1>PULP FICTION</h1>
        <div class="img"></div>
        <div class="orange">
            <img src="<%= image_path("welcome/oranges.png") %>" style="height:200px">
        </div>
        </header>


<div id="bookmark">
    <div id="menu">
        <a href="/" id="home">Home</a>
        <a href="/publications" id="products">Publications</a>
        <a href="" id="about">About</a>
        <a href="/users/sign_in" id="contact">Sign In/Profile</a>
    </div>
</div>




    <div id="content" style="margin-top:700px">
        <section class="page bg--white">    
            <div class="constrict">
                <article class="text--right">
                    <h2 style="padding-right:50px">Read a chapter of every book for free</h2>
                </article>
                <div class="position--left" style="padding-left:50px">
                    <img src="<%= image_path("welcome/blank.png") %>" alt="X" height="700px">
                </div>
            </div>
        </section>
    </div>



    <section class="page bg--gray"> 
        <div class="constrict">
            <article class="text--left">
                <h2 style="padding-left:50px; padding-right:0px">Help authors write books</h2>
            </article>
            <div class="position--right">
                <img src="<%= image_path("welcome/JKRowling.png") %>" alt="X" height="700px">
            </div>
        </div>
    </section>





    <section class="page bg--white">    
        <div class="constrict">
            <article class="text--right">
                <h2 style="padding-right:50px">Get the books you love in exchange for your support</h2>
            </article>
            <div class="position--left"  style="padding-left:50px">
                <img src="<%= image_path("welcome/harrypotter.jpg") %>" alt="X" height="700px">
            </div>
        </div>
    </section>


    <section class="page bg--gray"> 
        <div class="constrict">
            <article class="text--left">
                <h2 style="padding-left:50px; padding-right:0px">Publish your own novel</h2>
            </article>
            <div class="position--right">
                <img src="" alt="X" height="700px">
            </div>
        </div>
    </section>

    <footer class="bg--black" style="bottom: 0">
        <div class="constrict">
            <img height="100" src="<%= image_path("welcome/mainpic2.png") %>" style="padding-left:50px" alt="X">
            <article class="text--right">
                <h2 style="color:white; margin-top: 40px; padding-right:50px">Pulp Fiction</h2>
            </article>
        </div>
    </footer>
