@import "compass";

body {
	background: #eee;
	h1,h2,h3,h4,h5,h6, * {
		font-family: 'Open Sans', sans-serif;
	}
}

.container.no-texture {
	background: #fff;
	padding-bottom: 30px;
	padding-top: 30px;
	margin-bottom: 10px;
}