@import "compass";
@import "mixins";
@import "base";
@import "onepage-scroll";
@import "norm";


body {font-family: 'Open Sans Condensed', sans-serif;} 

#header  {
  background: #5F92CC;
  background-size: 100%;
}

#home, #about, #products, #contact, #profile {
  margin-top: 10px;
  margin-bottom: 1.25em;
  display: block;
  font-size: 1.25em;
  color: white;
  text-decoration: none;
}

#header h1 {
  font-size: 11em;
  letter-spacing: 5px;
  text-transform: uppercase;
  vertical-align: middle;
  margin-top: 90px;
  -webkit-animation: fadeInUp .6s .5s ease both;
  -moz-animation: fadeInUp .6s .5s ease both;
  -ms-animation: fadeInUp .6s .5s ease both;
  -o-animation: fadeInUp .6s .5s ease both;
  animation: fadeInUp .6s .5s ease both;
}
#header span {
  font-size: 0.50em;
  color: gray;
}

#header .subtitle {
  margin-top: 0.5em;
  font-size: 4em;
}

#header h1, #header .subtitle {
  
  color: #fff;
  text-align: center;
  line-height: 0.8em;
}

#header span {
  font-size: 0.50em;
  color: gray;
}

#bookmark {
z-index: 5;
  opacity: 0.85;
  padding: 0 0 33px 0;
  position: absolute;
  left: 1.5em;
  top: -0.25em;
  width: 8.5em;
  -webkit-animation: fadeInDown 1.6s .5s ease both;
  -moz-animation: fadeInDown 1.6s .5s ease both;
  -ms-animation: fadeInDown 1.6s .5s ease both;
  -o-animation: fadeInDown 1.6s .5s ease both;
  animation: fadeInDown 1.6s .5s ease both;
}
.orange {
  img {
    max-height:60%;
    margin-top: 1em;
    margin-left: 45em;
  }  
  z-index: 2;
  right: .1em;
  bottom: 0em;
  -webkit-animation: fadeInRight 1.6s .5s ease both;
  -moz-animation: fadeInRight 1.6s .5s ease both;
  -ms-animation: fadeInRight 1.6s .5s ease both;
  -o-animation: fadeInRight 1.6s .5s ease both;
  animation: fadeInRight 1.6s .5s ease both;
}

#bookmark div {
  opacity: 0.55;
  background: black;
  color: #fff;
  padding: 0.5em 0;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}
#bookmark div:after {
  border-left: 4.25em solid black;
  border-right: 4.25em solid black;
  border-bottom: 33px solid transparent;
  bottom: 0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}

section {
  &.page1-scroll {
    .constrict h2 {
      width: 50%;
      margin-left: 9.5em;
      margin-top: 10%;
    }
    background-color: rgb(230, 217, 200);
  }

  &.page2-scroll {
    .constrict h2 {
      margin-top: 45%;
      color: rgb(214,208,192);
    }
    background-color: #555557;
  }

  &.page3-scroll {
    .constrict h2 {
      margin-top: 10%;
      margin-left: 9.5em;
      width: 50%;
    }
    background-color: rgb(226, 228, 231);
  }

  &.page4-scroll {
    .constrict h2 {
      margin-left: 10%;
      margin-top: 40%;
    }
  }

  h2 {
    font-size: 5em;
    -webkit-animation: fadeInUp .6s .5s ease both;
    -moz-animation: fadeInUp .6s .5s ease both;
    -ms-animation: fadeInUp .6s .5s ease both;
    -o-animation: fadeInUp .6s .5s ease both;
    animation: fadeInUp .6s .5s ease both;
  }
  img {
    margin-left: 5em;
  }
  >div>div>img {
  position:absolute;
    bottom: 0;
  }
}

.tour {
  color: #fff;
  font-size: 3em;
  display:block;
  height:10%;
  line-height:10%;
  text-decoration:none;
  text-align:center;
  margin-right: 7em;
  margin-top: -4.5em;
}

footer {
  position: fixed;
  width: 100%;
  padding: 0.5em;
}
